.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure the page takes full height */
  padding: 40px;
  background-color: black;
}

.header {
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: white;
  background-color:  #383636;
  border-radius: 12px; 
  padding: 20px; 
  border: 1px solid white; 
 
}

.input {
  padding: 10px;
  border: 1px solid #fff0f0;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 5px;
}

.buttonGroup {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.button {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  background-color:rgb(218, 36, 36);
  color: black;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color:  #9b4b4b;
}



.footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color: #000000;
  width: 100%;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

