/*
* CSS style sheet for Manager View
*/
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: black;
    padding-top: 50px;
  }
  
  .header {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    width: 250px;
    border-radius: 8px;
    background-color: rgb(218, 36, 36); /* Light red similar to login buttons */
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    background-color: #9b4b4b; /* Darker red on hover */
  }
  
  .footer {
    margin-top: 50px;
    font-size: 16px;
    color: #0070f3;
  }
  
  .link {
    color: #fcfcfc;
    text-decoration: none;
  }

  .weathertext{
    color: white;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
  }
  