/* HomeContent.css */
.grid-container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 10px; /* Space between rows */
    padding: 20px; /* Padding around the grid */
}

.row {
    display: flex;
    align-items: center; /* Center items vertically */
}

.zoom-controls {
    justify-content: flex-end; /* Right align buttons */
}

.center-text {
    justify-content: center; /* Center text */
    text-align: center;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Space buttons evenly */
}

.button-side{
    justify-content: center;
}

.right-align {
    justify-content: flex-end; /* Right align the last button */
}

.button {
    padding: 10px 15px; /* Add some padding to buttons */
    margin: 5px; /* Add some margin between buttons */
}

.button-image {
    width: 20px; /* Set a width for the image */
    height: 20px; /* Set a height for the image */
    margin-right: 5px; /* Space between image and text */
    vertical-align: middle; /* Align image vertically */
}