/* HomeContent.css */
.grid-container {
    padding-left: 50px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 90vw;
    padding: 16px; /* Add padding for spacing */
}

.row {
    display: flex; /* Use flexbox for rows */
    justify-content: center; /* Center items in each row */
    width: 100%; /* Ensure rows take the full width */
    margin-bottom: 8px; /* Add space between rows */
}

.zoom-controls {
    justify-content: flex-end; /* Right align buttons */
}
.zoom-icon{
    padding:0px;
}
.zoom-controls, .button-row, .right-align {
    width: 100%; /* Ensure rows take the full width */
}
.center-text {
    justify-content: center; /* Center text */
    text-align: center;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Space buttons evenly */
    gap: 10px;
}

.button-side{
    justify-content: center;
    gap: 10px;
}

.right-align {
    justify-content: flex-end; /* Right align the last button */
}

.button {
    padding: 10px 15px; /* Add some padding to buttons */
    margin: 5px; /* Add some margin between buttons */
    margin-right: 10px;
}

.button-image {
    width: 20px; /* Set a width for the image */
    height: 20px; /* Set a height for the image */
    margin-right: 5px; /* Space between image and text */
    vertical-align: middle; /* Align image vertically */
}