/* HomeContent.css */
.grid-container {
    padding-left: 50px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 90vw;
    padding: 16px; /* Add padding for spacing */
}

.row {
    display: flex; /* Use flexbox for rows */
    justify-content: center; /* Center items in each row */
    width: 100%; /* Ensure rows take the full width */
    margin-bottom: 8px; /* Add space between rows */
}

.zoom-controls {
    justify-content: flex-end; /* Right align buttons */
}
.zoom-icon{
    padding:0px;
}
.zoom-controls, .button-row, .right-align {
    width: 100%; /* Ensure rows take the full width */
}
.center-text {
    justify-content: center; /* Center text */
    text-align: center;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Space buttons evenly */
    gap: 10px;
}

.button-side{
    justify-content: center;
    gap: 10px;
}

.right-align {
    justify-content: flex-end; /* Right align the last button */
}
.card {
    display: inline-block; /* Align cards in a row */
    width: 150px; /* Set a fixed width for cards */
    margin: 10px; /* Space between cards */
    border: 1px solid #ddd; /* Optional: border around card */
    border-radius: 15px; /* Rounded corners for card */
    background-color: whitesmoke;
    overflow: hidden; /* Prevent overflow */
    text-align: center; /* Center text */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.image {
    width: 100%; /* Make image take full width of card */
    height: auto; /* Maintain aspect ratio */
}
.card:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
}

.button {
    padding: 8px 16px; /* Reduced padding for a smaller button */
    margin: 5px;
    border-radius: 10px; /* Increased border-radius for rounder edges */
    border: none;
    background-color: whitesmoke;
    color: black;
    font-size: 14px; /* Slightly smaller font size */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_1 {
    padding: 10px 20px;
    margin-top: 50px; /* Adjusted padding for a more substantial button */
    margin: 5px;
    border-radius: 5px; /* Slightly rounded edges */
    border: none;
    background-color: lightcoral; /* Green color for a "success" look */
    color: white; /* White text for contrast */
    font-size: 16px; /* Increased font size for better visibility */
    font-weight: bold;
    width: 90px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}




.button:active {
    transform: scale(0.95);
}
